.BaseChat {
  &[data-chat-visible='false'] {
    --workbench-inner-width: calc(100% - 280px);
    --workbench-left: 280px;

    .Chat {
      --at-apply: flashio-ease-cubic-bezier;
      transition-property: transform, opacity;
      transition-duration: 0.3s;
      will-change: transform, opacity;
      transform: translateX(-50%);
      opacity: 0;
    }
  }
}

.Chat {
  opacity: 1;
  background: linear-gradient(135deg, transparent 0%, rgba(139, 92, 246, 0.02) 100%);
}
